EJUDGE_BASE_URL=https://ejudge.lksh.ru
EJUDGE_TIMEOUT=15s

MONGO_INITDB_ROOT_USERNAME=scainer
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_HOST=localhost
MONGODB_DATABASE=scainer

JOBS_MAX_CONCURRENT=4
ANALYZE_CONCURRENCY=4

JWT_SECRET=
JWT_TTL=12h

TEACHERS_LOGINS=alice;bob

OPENAI_BASE_URL=https://ollamaapi.n.icpc.live/v1
OPENAI_USERNAME=
OPENAI_PASSWORD=
OPENAI_TIMEOUT=60s
OPENAI_MODEL=llama3.2

AIUSAGE_ENABLED=0
